
/* Your CSS Code here. */
.holder{ display: flex;              /* Items ko row me lane ke liye */
  justify-content: center;    /* Horizontally center */
  align-items: center;        /* Vertically center */
  flex-wrap: wrap; 
  gap:10px
}	
.item{
	width:200px;
	height:200px;
	background-color:green;
}